*
{
	background-color: #4C4343;
}


h1
{
	font-family: courier;
	font-weight: bolder;
	font-size: 4em;
	text-align: center;
	text-transform: uppercase;
	color: #fcff60;
}

table
{
	border-collapse: collapse;
	width: 70%;
	margin:auto;
	font-size: 1em;

}

table, th, td
{
	border: solid 1px #FFFFFF;
	font-family: arial;
	padding:0.5%;
}

td
{
	color:#FFFFFF;
	font-weight: bold;
}

th
{
	text-align: left;
	font-family: courier;
	color:#A8BF12;
	font-weight: bold;
	
}

caption
{
	font-family: courier;
	font-weight: bold;
	font-size: 1.5em;
	text-align: left;
	margin-bottom: 5%;
	color: #F41C54;
	text-transform: uppercase;
	border: 2px solid #F41C54;
	width:100%;
	padding: 0.5%;

}

.cap2
{
	margin-top: 10%;
}

.tab2
{
	margin-bottom: 2%;
}

footer
{
	text-align: right;
	color: #FCFF60;
	width: 85%;
	font-weight: bold;
	font-family: courier;
	font-size: 0.9em;
}

/*==============================================*/
/*==============================================*/
/*=============RESPONSIVE TEL TAB===============*/
/*==============================================*/
/*==============================================*/

@media screen and (max-width: 980px)
{


h1
{
	font-size: 2em;
	text-align: center;
	text-transform: uppercase;
	color: #fcff60;
}

span
{
	font-size: 4em;
}

table
{
	width: 95%;
	margin:auto;
	font-size: 1em;

}


th
{
	text-align: left;
	font-family: courier;
	color:#A8BF12;
	font-weight: bold;
	font-size:1em;
	
}



}