*
{
	background-color: #4C4343;
}


h1
{
	font-family: courier;
	font-weight: bolder;
	font-size: 4em;
	text-align: center;
	text-transform: uppercase;
	color: #fcff60;
}

table
{
	border-collapse: collapse;
	width: 70%;
	margin:auto;

}

table, th, td
{
	border: solid 1px #FFFFFF;
	font-family: arial;
	padding:0.5%;
}

td
{
	color:#FFFFFF;
	font-weight: bold;
}

th
{
	text-align: left;
	font-family: courier;
	color:#A8BF12;
	font-weight: bold;
	
}

caption
{
	margin: 2%;
	font-family: courier;
	font-weight: bold;
	font-size: 1.5em;
	text-align: left;
	margin-top: 5%;
	color: #F41C54;
	text-transform: uppercase;
	border: 2px solid #F41C54;
	
}

