h1
{
	font-family: courier;
	font-weight: bolder;
	font-size: 4em;
	text-align: center;
}

table
{
	border-collapse: collapse;
	width: 70%;
	margin:auto;

}

table, th, td
{
	border: solid 1px black;
}

